body{
    background-color: beige;
}
img{
    display:block;
    margin:0 auto;
    max-width:40%
}
h1,p{
    text-align: center;
    color:blueviolet;
}
/* This is .... */
.labels {
    display: flex;
    justify-content: space-between;
    width: 260px; /* Adjust width as needed */
    margin-bottom: 10px; /* Space between labels and dropdowns */
    margin:0 auto;
    color:rgb(147, 128, 0)
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    width: 300px; /* Match the width of the label row */
    margin: 0 auto;
    padding:20px
}

.result{

    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.button-container {
    text-align: center; /* Centers the button horizontally */
    margin-top: 20px;
}
